@page
@model SelfServiceHrProject.Pages.LeaveReason.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LeaveReasons.Id" />
            <div class="form-group">
                <label asp-for="LeaveReasons.Name" class="control-label"></label>
                <input asp-for="LeaveReasons.Name" class="form-control" />
                <span asp-validation-for="LeaveReasons.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveReasons.Code" class="control-label"></label>
                <input asp-for="LeaveReasons.Code" class="form-control" />
                <span asp-validation-for="LeaveReasons.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveReasons.Days" class="control-label"></label>
                <input asp-for="LeaveReasons.Days" class="form-control" />
                <span asp-validation-for="LeaveReasons.Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-outline-primary">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
